@charset "utf-8";
/* CSS Document */
/*3% hold 6% transition*/

@keyframes hero {
    0%   {background-color: #d62900;}
    6%   {background-color: #d62900;}
    10%   {background-color: #ef7627;}
    16%   {background-color: #ef7627;}
    20%   {background-color: #ff9b55;}
    26%   {background-color: #ff9b55;}
    30%   {background-color: #d461a6;}
    36%   {background-color: #d461a6;}
    40%   {background-color: #b55690;}
    46%   {background-color: #b55690;}
    50%   {background-color: #a50062;}
    55%   {background-color: #a50062;}
    59%   {background-color: #b55690;}
    63%   {background-color: #b55690;}
    69%   {background-color: #d461a6;}
    73%   {background-color: #d461a6;}
    79%   {background-color: #ff9b55;}
    83%   {background-color: #ff9b55;}
    89%   {background-color: #ef7627;}
    93%   {background-color: #ef7627;}
    99%   {background-color: #d62900;}
    100%   {background-color: #d62900;}
  }

h4 {font-size: 20px;}

.form-check-input:checked {
  background-color: #212529;
  border-color: #212529;
}

#hero, #quiz-intro {
  height: 100vh;
  color: #eee;
}

#hero {
  width: 100%;
  background-color: red;
  animation-name: hero;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  z-index: 1;
  overflow: hidden;
  
}

.dots {
  background-color: rgba(240,240,240,30%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all 4s;
}

.carousel-inner, #quiz-intro-inner {
  position: relative;
  top: 30%;
  text-align: center;
  width: 70%;
  margin: auto;
}

.carousel-item > *, #quiz-intro-inner > * {
  margin: 40px 0;
}


.carousel-item > *:first-child, #quiz-intro-inner > *:first-child {
  margin-top: 0px;
}

form > img {
  width: 50px;
  height: auto;
}

form > img:hover {opacity: 80%;}

.grid-container, .container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

#quiz-intro {
  background-color:#ff9b55;
  color: #212529;
}

#take-quiz {
  background-color: #a50062;
  border: none;
}

.vert-stack {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: min-content;
  align-content: center;
  top: 50vh;
  left: 0;
  width: 100%;
}

.vert-stack img {
  width: 32px;
  margin: 0 auto;
}

.vert-stack p {margin: 0;}

.form-page {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}

.form-page h4, .form-page h3 {
  margin-top: 15px;
  color: #b55690;
  font-weight: bold;
}

.back-button {
  width: 30px;
  height: auto;
  position: fixed;
  bottom: 5vh;
  left: 15vw;
}

.next-button {
  width: 30px;
  height: auto;
  position: fixed;
  bottom: 5vh;
  right: 15vw;
}

#quiz-finish {
  position: fixed;
  bottom: 2vh;
  right: 13vw;
  background-color: #a50062;
}

.palette {
  margin: 0;
  width: 100%;
}

.palette .row {
  padding: 15px 0;
}

#buttonDiv button {
  max-height: 100px;
  width: 70%;
  margin: 10px 15%;
}

.info {
  display: flex;
}

.quiz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {width: 50%;}

.progress-bar {
  background-color: #ef7627;
}

.info-button {
  width: 20px;
  margin-left: 10px;
}

#new-palette {
  margin-left: min(12%, 100px);
}

@media (max-width: 767px) {
  .form-page {
    width: 90%;
  }
}
